@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #e0e0f8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #380b61;
    margin-top: 2rem;
}

main p {
    color: #59429d;
    margin-bottom: 2rem;
}

form {
    width: 500px;
    max-width: 90vw;
}

input,
select,
textarea,
.btn {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    font-size: 1.1rem;
    color: #380b61;
    margin-top: 1rem;
}

input:focus,
select:focus,
.campo textarea:focus {
    background-color: #e0e0f8;
    outline: auto #59429d;
}

.campo {
    border: 0;
    display: flex;
    flex-direction: column;   
    margin-bottom: 2rem;   
}

.campo label {
    color: #59429d;
}

.cuzin{   
    display: flex;
    flex-direction: column;  
}

.sobrenome {
    margin-top: 2rem;
}

#senioridade {
    color: #59429d;
    width: 130px;
}

#tec label {
    margin-right: 19px;
}

.btn {
    font-size: 1.2rem;
    background-color: #59429d;
    border: 0;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.2rem 0.6rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.btn:hover {
    background-color: #7d5ce0;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .2);
    text-shadow: none;
}