@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0f8;
}

h1 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    max-width: 90vw;

}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form select,
form textarea { 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: auto #ccc;
}

.enviar {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    margin-top: 1rem;
}